.home{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.home-left{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-welcome, .home-cards-header{
    background: rgb(129,7,7);
    background: linear-gradient(45deg, rgba(129,7,7,1) 1%, rgba(249,55,55,1) 100%);
    background-size: cover;
    width: 350px;
    height: 125px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px white solid;
    box-shadow:
            rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
            rgba(19, 26, 32, 0.15) 0px 35px 75px -35px;
}

.home-welcome-title, .home-cards-title{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
}

.create-container{
    background: rgb(129,7,7);
    background: linear-gradient(45deg, rgba(129,7,7,1) 1%, rgba(249,55,55,1) 100%);
    background-size: cover;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:
            rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
            rgba(19, 26, 32, 0.15) 0px 35px 75px -35px;
    border: 5px solid #e6e6e6;
}

.create-form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create-input{
    width: 250px;
    height: 60px;
    background: none;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    text-align: center;
}
.create-input::placeholder{
    color: white;
    font-size: 200%;
    font-family: 'Rowdies', cursive;
}
.create-input:focus{
    outline: white 3px solid;
    font-size: 100%;
    font-family: 'Rowdies', cursive;
}
.notes{
    height: 150px;
    text-align: left;
}

.home-cards{
    margin-top: 5%;
    width: 500px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    gap: 25px;
    box-shadow:
            rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
            rgba(19, 26, 32, 0.15) 0px 35px 75px -35px;
    border: 5px solid #e6e6e6;
}

.home-cards-header{
    margin-top: 10px;
    width: 400px;
    height: 85px;
}