*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #F5F3F5;
}

.title-container{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    border-radius: 25px;
    background: rgb(129,7,7);
    background: linear-gradient(45deg, rgba(129,7,7,1) 1%, rgba(249,55,55,1) 100%);
    background-size: cover;
    transform:
            perspective(75em)
            rotateX(10deg);
    box-shadow:
            rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
            rgba(19, 26, 32, 0.15) 0px 35px 75px -35px;
    border: 5px solid #e6e6e6;
}

.title-btn-container{
    width: 75%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    font-size: 225px;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4);
}

.login-btn, .sign-up-btn{
    width: 150px;
    height: 60px;
    background: none;
    color: white;
    font-size: 200%;
    font-family: 'Rowdies', cursive;
    border: white 5px solid;
    transform:
            perspective(750px)
            translate3d(0px, 0px, -250px)
            rotateX(15deg);
    border-radius: 20px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out transform;
}
.login-btn:hover, .sign-up-btn:hover {
    cursor: pointer;
    background: white;
    color: rgb(129,7,7);
    transform: translate3d(0px, 0px, -250px);
}

.login-container, .signup-container{
    background: rgb(129,7,7);
    background: linear-gradient(45deg, rgba(129,7,7,1) 1%, rgba(249,55,55,1) 100%);
    background-size: cover;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform:
            perspective(75em)
            rotateX(10deg);
    box-shadow:
            rgba(22, 31, 39, 0.5) 0px 60px 123px -25px,
            rgba(19, 26, 32, 0.15) 0px 35px 75px -35px;
    border: 5px solid #e6e6e6;
}

.login-form, .signup-form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.signup-form {
    height: 100%;
}

.login-user, .login-pass, .signup-input{
    width: 250px;
    height: 60px;
    background: none;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    text-align: center;
}
.login-user::placeholder, .login-pass::placeholder, .signup-input::placeholder{
    color: white;
    font-size: 200%;
    font-family: 'Rowdies', cursive;
}
.login-user:focus, .login-pass:focus, .signup-input:focus{
    outline: white 3px solid;
    font-size: 100%;
    font-family: 'Rowdies', cursive;
}

.login-submit-btn{
    width: 150px;
    height: 60px;
    background: none;
    border: solid 3px white;
    color: white;
    font-size: 200%;
    font-family: 'Rowdies', cursive;
    transform:
            perspective(750px)
            translate3d(0px, 0px, -250px)
            rotateX(15deg);
    border-radius: 20px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out transform;
}
.login-submit-btn:hover{
    cursor: pointer;
    background: white;
    color: rgb(129,7,7);
    transform: translate3d(0px, 0px, -250px);
}